
source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget
framework: netstandard2.0
strategy: min
storage: none

nuget FSharp.Core 5.0.0
nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.UI prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool

group test
    source https://api.nuget.org/v3/index.json
    source https://daily.websharper.com/nuget
    framework: net5.0
    storage: none

    nuget Microsoft.AspNetCore !~> 2.0.0
    nuget Microsoft.AspNetCore.Hosting !~> 2.0.0
    nuget Microsoft.AspNetCore.StaticFiles !~> 2.0.0
    nuget Newtonsoft.Json >= 11.0
    nuget WebSharper prerelease
    nuget WebSharper.FSharp prerelease
    nuget WebSharper.UI prerelease
    nuget WebSharper.AspNetCore prerelease
