source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/dotnet-websharper/index.json
source ../localnuget

framework: netstandard2.0

storage: none
strategy: min

nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.UI prerelease

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper50


group test
    source https://api.nuget.org/v3/index.json
    source https://nuget.pkg.github.com/dotnet-websharper/index.json
    source ../localnuget
    framework: net6.0
    storage: none

    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.Hosting
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Newtonsoft.Json >= 11.0
    nuget WebSharper prerelease
    nuget WebSharper.FSharp prerelease
    nuget WebSharper.UI prerelease
    nuget WebSharper.AspNetCore prerelease
